.watch {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    padding: 60px 0;
  }
  .watchRight {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  }
  .watchRight img {
    width: 100%;
  }
  .watchLeft {
    width: 68%;
    padding-right: 20px;
    margin-top: 90px;
  }
  .watchLeft h3 {
    color: #fff;
    font-size: 16px;
  }
  .watchLeft p {
    color: #918b8b;
    font-size: 13px;
    margin-top: 20px;
  }
  .devices {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 30px;
    margin: 30px;
  }
  .devices > div {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
  }
  .devices > div > .iconDevice > img {
    width: 100%;
  }
  .titleDevice > h5 {
    color: #f5f5f5;
    font-size: 15px;
  }
  .titleDevice > span {
    color: gray;
    font-size: 12px;
  }
  .btnDevice {
    width: fit-content;
    padding: 8px 20px;
    text-align: center;
    color: #fff;
    background-color: #1cb561;
    transition: 0.3s;
    border-radius: 10px;
    margin: 30px 30px 0 0;
    cursor: pointer;
    font-size: 13px;
  }
  .btnDevice:hover {
    background-color: #1cb561dd;
  }